<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AcueductoCliente.Interfaz.Properties.Settings.GOTAConnectionString"
            connectionString="Data Source=LAPTOP-PH7QTCST;Initial Catalog=GOTA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>